body {
    background-color: teal;
}




}

main {
    height: 400px;
    text-align: center;
    padding-top: 200px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 80px;
}

img {
    align-self: center;
    height: 190px;
    width: 180px;
}

footer {
    background-color: rgba(0, 124, 128, 0.726);
    margin-bottom: auto;
    height: 50px;
    
    padding-bottom: 200px;
}

h1 {
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 235, 172);
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 187, 174);
}

.navbar-brand {
    height: 60px;
}








