body {
    background-color: teal;
    background-image: url(images/2880x1800-yellow-green-solid-color-background.jpg)
}

.description {
    text-align: center;
    padding-top: 200px;
}




}



img {
    align-self: center;
    height: 190px;
    width: 180px;
}

footer {
    background-color: rgba(0, 124, 128, 0.726);
    margin-bottom: auto;
    height: 50px;
    
    padding-bottom: 200px;
}

h1 {
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 235, 172);
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 238, 243);
}

.navbar-brand {
    height: 60px;
}








